<% include partials/header %>
<h1>Edit <%= blog.title %></h1>

<form action="/blogs" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="blog[title]" value="<%= blog.title %>">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="blog[date]" value="<%= blog.date %>">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        <div>
            <label>Blog Content</label>
        </div>
        <div class="form-group">
            <textarea name="blog[body]" id="" cols="30" rows="10"><%= blog.body %></textarea>
        </div>
</form>

<% include partials/footer %>