<% include partials/header %>
<div class="row text-center">
    <div class="col-sm-12">
        <h1>Node Blog</h1>
    </div>
</div>


<div class="row" style-"display:flex; flex-wrap:wrap;">
    <% blogs.forEach(function(blog){ %>
        <div class="row center-block" style="margin-top: 20px; width: 75%; height: 150px; padding: 10px; border: 1px solid black;">
            <div class="col-sm-4">
                <img  style="width: 150px;" src="<%= blog.image %>" alt="">
            </div>
            <div class="col-sm-8">
                <h4> <li style="list-style:none;"><%= blog.title %></li></h4>
                <h5> <li style="list-style:none;"><%= blog.date %></li></h5>
                <p><%= blog.body.substring(0, 3) %></p>
                <a href="/blogs/<%= blog._id %>">Read More</a>
            </div>     
        </div>             
    <% }); %>
</div>

<div class="row text-center" style="margin-top: 20px">
    <p>
        <a class="btn btn-primary btn-large" href="/blogs/new">Add New Blog</a>
    </p>
</div>


<% include partials/footer %>